<section class="example">
	<div class="container">
		<h2 class="example-title">icons constructor</h2>
		<div class="d-flex g-1 mb-2">
			<i class="icon icon-sm icon-elec"></i>
			<i class="icon icon-sm icon-elec-classic"></i>
			<i class="icon icon-sm icon-eth"></i>
			<i class="icon icon-sm icon-ethos"></i>
			<i class="icon icon-sm icon-metav"></i>
		</div>
		<div class="d-flex g-1 mb-2">
			<i class="icon icon-md icon-elec"></i>
			<i class="icon icon-md icon-elec-classic"></i>
			<i class="icon icon-md icon-eth"></i>
			<i class="icon icon-md icon-ethos"></i>
			<i class="icon icon-md icon-metav"></i>
		</div>
		<div class="d-flex g-1 mb-2">
			<i class="icon icon-lg icon-elec"></i>
			<i class="icon icon-lg icon-elec-classic"></i>
			<i class="icon icon-lg icon-eth"></i>
			<i class="icon icon-lg icon-ethos"></i>
			<i class="icon icon-lg icon-metav"></i>
		</div>
		<div class="d-flex g-1 mb-2">
			<i class="icon icon-xl icon-elec"></i>
			<i class="icon icon-xl icon-elec-classic"></i>
			<i class="icon icon-xl icon-eth"></i>
			<i class="icon icon-xl icon-ethos"></i>
			<i class="icon icon-xl icon-metav"></i>
		</div>
		<div class="d-flex g-1 mb-2">
			<i class="icon icon-xxl icon-elec"></i>
			<i class="icon icon-xxl icon-elec-classic"></i>
			<i class="icon icon-xxl icon-eth"></i>
			<i class="icon icon-xxl icon-ethos"></i>
			<i class="icon icon-xxl icon-metav"></i>
		</div>
	</div>
</section>
