<section class="example">
	<div class="container">
		<h2 class="example-title">buttons constructor (default)</h2>
		<div class="d-flex g-1 mb-2 flex-wrap">
			<button type="button" class="btn btn-primary">Primary</button>
			<button type="button" class="btn btn-secondary">Secondary</button>
			<button type="button" class="btn btn-success">Success</button>
			<button type="button" class="btn btn-danger">Danger</button>
			<button type="button" class="btn btn-warning">Warning</button>
			<button type="button" class="btn btn-info">Info</button>
			<button type="button" class="btn btn-light">Light</button>
			<button type="button" class="btn btn-dark">Dark</button>
		</div>
	</div>
</section>
<section class="example">
	<div class="container">
		<h2 class="example-title">buttons constructor small</h2>
		<div class="d-flex g-1 mb-2 flex-wrap">
			<button type="button" class="btn btn-sm btn-primary">Primary</button>
			<button type="button" class="btn btn-sm btn-secondary">Secondary</button>
			<button type="button" class="btn btn-sm btn-success">Success</button>
			<button type="button" class="btn btn-sm btn-danger">Danger</button>
			<button type="button" class="btn btn-sm btn-warning">Warning</button>
			<button type="button" class="btn btn-sm btn-info">Info</button>
			<button type="button" class="btn btn-sm btn-light">Light</button>
			<button type="button" class="btn btn-sm btn-dark">Dark</button>
		</div>
	</div>
</section>
<section class="example">
	<div class="container">
		<h2 class="example-title">buttons constructor large</h2>
		<div class="d-flex g-1 mb-2 flex-wrap">
			<button type="button" class="btn btn-lg btn-primary">Primary</button>
			<button type="button" class="btn btn-lg btn-secondary">Secondary</button>
			<button type="button" class="btn btn-lg btn-success">Success</button>
			<button type="button" class="btn btn-lg btn-danger">Danger</button>
			<button type="button" class="btn btn-lg btn-warning">Warning</button>
			<button type="button" class="btn btn-lg btn-info">Info</button>
			<button type="button" class="btn btn-lg btn-light">Light</button>
			<button type="button" class="btn btn-lg btn-dark">Dark</button>
		</div>
	</div>
</section>
<section class="example">
	<div class="container">
		<h2 class="example-title">buttons constructor (outline)</h2>
		<div class="d-flex g-1 mb-2 flex-wrap">
			<button type="button" class="btn btn-primary btn-outline">Primary</button>
			<button type="button" class="btn btn-secondary btn-outline">
				Secondary
			</button>
			<button type="button" class="btn btn-success btn-outline">Success</button>
			<button type="button" class="btn btn-danger btn-outline">Danger</button>
			<button type="button" class="btn btn-warning btn-outline">Warning</button>
			<button type="button" class="btn btn-info btn-outline">Info</button>
			<button type="button" class="btn btn-light btn-outline">Light</button>
			<button type="button" class="btn btn-dark btn-outline">Dark</button>
		</div>
	</div>
</section>
<section class="example">
	<div class="container">
		<h2 class="example-title">buttons constructor (outline) small</h2>
		<div class="d-flex g-1 mb-2 flex-wrap">
			<button type="button" class="btn btn-sm btn-primary btn-outline">Primary</button>
			<button type="button" class="btn btn-sm btn-secondary btn-outline">Secondary</button>
			<button type="button" class="btn btn-sm btn-success btn-outline">Success</button>
			<button type="button" class="btn btn-sm btn-danger btn-outline">Danger</button>
			<button type="button" class="btn btn-sm btn-warning btn-outline">Warning</button>
			<button type="button" class="btn btn-sm btn-info btn-outline">Info</button>
			<button type="button" class="btn btn-sm btn-light btn-outline">Light</button>
			<button type="button" class="btn btn-sm btn-dark btn-outline">Dark</button>
		</div>
	</div>
</section>
<section class="example">
	<div class="container">
		<h2 class="example-title">buttons constructor (outline) large</h2>
		<div class="d-flex g-1 mb-2 flex-wrap">
			<button type="button" class="btn btn-lg btn-primary btn-outline">Primary</button>
			<button type="button" class="btn btn-lg btn-secondary btn-outline">Secondary</button>
			<button type="button" class="btn btn-lg btn-success btn-outline">Success</button>
			<button type="button" class="btn btn-lg btn-danger btn-outline">Danger</button>
			<button type="button" class="btn btn-lg btn-warning btn-outline">Warning</button>
			<button type="button" class="btn btn-lg btn-info btn-outline">Info</button>
			<button type="button" class="btn btn-lg btn-light btn-outline">Light</button>
			<button type="button" class="btn btn-lg btn-dark btn-outline">Dark</button>
		</div>
	</div>
</section>
<section class="example">
	<div class="container">
		<h2 class="example-title">buttons constructor (roundet)</h2>
		<div class="d-flex g-1 mb-2 flex-wrap">
			<button type="button" class="btn btn-primary btn-roundet btn-outline">Primary</button>
			<button type="button" class="btn btn-secondary btn-roundet btn-outline">Secondary</button>
			<button type="button" class="btn btn-success btn-roundet btn-outline">Success</button>
			<button type="button" class="btn btn-danger btn-roundet btn-outline">Danger</button>
			<button type="button" class="btn btn-warning btn-roundet btn-outline">Warning</button>
			<button type="button" class="btn btn-info btn-roundet btn-outline">Info</button>
			<button type="button" class="btn btn-light btn-roundet btn-outline">Light</button>
			<button type="button" class="btn btn-dark btn-roundet btn-outline">Dark</button>
		</div>
	</div>
</section>
